<div class="container">
  <h1>Welcome To Your Profile!</h1>
  <div class="row">
    <div class="col-md-6">
      <% @user.projects.each do |project| %>
        <%= link_to project.name, project_path %>
        <div class="show-project">
            <img class="projectImage" src="<%= project.image.url(:medium) %>" ><br><br>
        </div>
      <% end %>
    </div>
  </div>
</div>
