<div class="container">
  <center><h1>Your Profile Page!</h1></center>
  <div class="col-md-10">
    <h2>Welcome, <%= @user.name %>!</h2>
    <h3>Email:<%= @user.email %></h3><br>

    <div class="col-md-6">
      <% @user.projects.each do |project| %>
        <%= link_to project.name, user_project_path(current_user, project) %>
        <div class="show-project">
            <img class="projectImage" src="<%= project.image.url(:medium) %>" ><br><br>
        </div>
      <% end %>
    </div>
  </div>
</div>
