<div class="center jumbotron container-fluid">
  <h1><center>Welcome to The DIY Life</center></h1>
  <div class="title">
  <% if current_user %>
  <%= link_to "Create A New Project", new_user_project_path(current_user), :class => "btn btn-success" %>
  <% else %>
  <%= link_to "Log In", new_user_session_path, :class => "btn btn-success" %>
  
  <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success" %>
</div>
  <% end %>
</div>
